<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" alt="Logo" style="height: 30px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="currentUser?.name" class="nav-item">
        <a class="nav-link">Olá, {{ currentUser.name }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li *ngIf="!currentUser" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="currentUser?.name" class="nav-item" style="position: absolute;right: 0;">
        <a class="nav-link" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
