<div style="display: grid; place-items: center;">
  <h1>Listagem</h1>

  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columns; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{columnsNames[i]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;"></tr>
  </table>

</div>
